*{
    margin: 0 auto;
}

body {
  
  height: 100%;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.container {

  background-color: orange;
  width: 1024px;

}

header {

  margin-top:10px;
  width: 1024px;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  height: 150px;
  float: left;
}

header > p {

  margin-top:40px;
  margin-left:260px;
  font-size: 50px;

}

header > img {

  margin-top: -75px;
  margin-right: 75px;
  float: right;
  width: 100px;
  height: 100px;

}

nav {

  padding: 10px;
  width: 1004px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  float: left;

}


nav a {

	text-decoration: none;
	background-color: #117A65;
	color: white;
	text-align: center;
	border-radius: 10px;

}

ul {

    text-align: center;
    width: 870px;
}

ul li a:hover{

  background-color: orange;
  color: black;
}

ul, li {

	display: inline-block;
  margin-left: 20px;
}

li a {

	display: block;
	padding: 10px;
	width: 110px;
}



section {

  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  height: 500px;
  width: 724px;
  float: left;

}


.articulo-1{

  margin-top: 30px;
  background-color: orange;
  width: 600px;
  height: 200px;
  margin-left: 65px;
}

aside {

    background-color: blue;
    width: 300px;
    height: 500px;
    float: right;
}

footer {

  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  width: 1024px;
  height: 128px;
  float: left;
}
