*{
    margin: 0px auto;
  
}
body {
  
  height: 100%;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.container {

  background-color: orange;
  width: 1024px;

}

header {
  background-color:black;
  color:white;
  width: 1024px;
  height: 150px;
  float: left;
}
header > p {
  margin-top:40px;
  margin-left:260px;
  font-size: 50px;
  font-family: 'Spicy Rice', cursive;
}
header > img {
  margin-top: -75px;
  margin-right: 75px;
  float: right;
  width: 100px;
  height: 100px;
}
nav {

  font-family: 'Open Sans', sans-serif;
  margin-top:10px;
  padding: 10px;
  width: 1004px;
  background-color:#272727;
  float: left;

}


nav a {

	text-decoration: none;
	background-color: #000000;
	color: white;
	text-align: center;
	border-radius: 10px;

}

ul {

    text-align: center;
    width: 870px;
}

ul li a:hover{

  background-color: orange;
  color: black;
}

ul, li {

	display: inline-block;
  margin-left: 20px;
}

li a {

	display: block;
	padding: 10px;
	width: 110px;
}

section {

  height: 500px;
  width: 724px;
  float: left;

}

.video-1 {

  margin-left: 10px;
  margin-top: -25px;

}

.video-2 {

  margin-left: 10px;
  margin-top: -25px;
  float: left;
  
}

.video-3 {

  margin-left: 200px;
  margin-top: -25px;

}

.articulo-1{

  width: 724px;
  height: 200px;

}

.titulo{

  background-color: #CB4335;
  height: 500px;

}

.titulo > h2{

  text-align: center;
  padding: 10px;
  background-color:#78281F;
  color: white;
  font-family: 'Gloria Hallelujah', cursive;

}

aside {

    background-color: blue;
    width: 300px;
    height: 500px;
    float: right;
}

footer {

  background-color:black;
  color: white;
  text-align: center;
  width: 1024px;
  height: 128px;
  float: left;
}

footer > p {

  margin-top: 64px;
  font-family: 'Open Sans', sans-serif;
}
